button.add-info.button.button-primary {
    cursor: pointer;
    margin-bottom: 1%;
}

[class^='list-'] [class^='item-'] {
    display: flex;
    width: 100%;
    margin-bottom: 2%;
}

[class^='list-'] [class^='item-'] input  {
    margin: 0 1%;
}

[class *='list-'] {
    border-color: lightblue;
    border-radius: 5px;
    border-width: thin;
    border-style: solid;
    padding: 1%;
}

.remove-info {
    cursor: pointer;
    margin-bottom: 2%;
}